
<div class="side-image">
  <div class="images-wrapper"></div>
  <div class="side-image-content">
    <h1>The Frolicking Goat Cafe</h1>
      <button>Create new menu item</button>
    </div>
  </div>
<article class="type-system-rounded">

  <p><%= link_to 'New Item', new_item_path %></p>
  <% if @sections.length != nil %>
    <ul class="accordion-tabs-minimal">
      <% @sections.each do |section| %>
        <li class="tab-header-and-content">
        <a href="#" class="tab-link"><%=section.name%></a>
        <div class="tab-content">
          <div class="grid-items-lines">
            <a href="javascript:void(0)" class="grid-item">
              <%= image_tag section.picture %>
            </a>
            <a href="javascript:void(0)" class="grid-item grid-item-big">
              <table>
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th colspan="3"></th>
                  </tr>
                </thead>
                <tbody>
                  <% @items.each do |item| %>
                  <% if item.section == section %>
                  <tr>
                    <td><%= link_to item.name, edit_item_path(item.id) %></td>
                    <td><%= item.description %></td>
                    <td><%= number_to_currency(item.price) %></td>
                  </tr>
                  <% end %>
                  <% end %>
                </tbody>
              </table>
              <% end %>
              <% end %>
              <!-- <h1>Wider Grid Item</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, illum.</p> -->
            </a>
            <div class="right-cover"></div>
            <div class="bottom-cover"></div>
          </div>


      </div>
    </li>
  </ul>

</article>
