<%= form_for(@menu) do |f| %>
  <% if @menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@menu.errors.count, "error") %> prohibited this bank_register from being saved:</h2>

      <ul>
      <% @menu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :transaction_name %><br>
    <%= f.text_field :transaction_name %>
  </div>
  <div class="field">
    <%= f.label :transaction_amount %><br>
    <%= f.text_field :transaction_amount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
