<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>


<h1> Please Input Food Items Here </h1>

<%= form_for @item do |f| %>
<p>
  <%= f.label :name %><br>
  <%= f.text_field :name%>
</p>

<p>
  <%= f.label :price %><br>
  <%= f.text_field :price%>
</p>

<p>
  <%= f.label :description %><br>
  <%= f.text_area :description %>
</p>

<p>
  <%= f.submit %>
</p>
<% end %>

<%= link_to 'Main Page', items_path %>
