<ul class="accordion-tabs-minimal">
  <% @courses.each do |c| %>
  <li class="tab-header-and-content">
    <a href="#" class="tab-link"> <%= c.course_type %> </a>
    <div class="tab-content">
      <div class="grid-items-lines">
        <% c.items.each do |i| %>
        <a href= <%= edit_item_path(i) %> class="grid-item grid-item-big">
          <img src= <%= c.picture %> alt="">
          <h1> <%= i.item_name %> <%= i.item_price %></h1>
          <p> <%= i.item_description %> </p>
        </a>
        <% end %>
      </div>
    </div>
  </li>
  <% end %>
</ul>
