
<link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
<p id="notice"><%= notice %></p>

<div>
<h1>Cookiesplosion</h1>
</div>

<div>
  <table>
    <tbody>
      <% @number_of_categories.times do |i| %>
      <tr>
        <td><%= Category.get_description_at_key( i+1 ) %></td>
        <td> <%= image_tag Category.get_image_at_key( i+1 ) %></td>
      </tr>
        <% @items.each do |item| %>
          <% if item.category_key == (i+1) %>
            <tr>
                <!-- <td><%= item.image %></td> -->
                <td><%= item.description %></td>
                <td><%= item.price %></td>
                <!-- <td><%= item.category_key %></td> -->
                <td><%= link_to 'Show', item %></td>
                <td><%= link_to 'Edit', edit_item_path(item) %></td>
                <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<br>
<%= link_to 'New Item', new_item_path %>
