<p id="notice"><%= notice %></p>

<h1>Big Cheese</h1>

<!-- <table> -->
  <!-- <thead>
    <tr>
      <th>Item name</th>
      <th>Item description</th>
      <th>Item price</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead> -->

  <!-- <tbody>
    <% @item.each do |item| %>
      <tr>
        <td><%= link_to item.name, edit_item_path(item) %></td>
        <td><%= item.description %></td>
        <td><%= item.price %></td>
        <td><%= item.category.description %></td>
        <td><%= link_to 'Show', item %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->

<table>
  <thead>
    <h2>Appetizers</h2>

    <tr>
      <th>Item</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @app_items.each do |item| %>
    <tr>
      <td><%= link_to "#{item.name}", edit_item_path(item) %></td>
      <td><%= item.price %></td>
    </tr>
    <% end %>
    <%= image_tag 'spinach.jpg' %>
  </tbody>
</table>


<table>
  <thead>
    <h2>Entrees</h2>

    <tr>
      <th>Item</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entree_items.each do |item| %>
    <tr>
      <td><%= link_to "#{item.name}", edit_item_path(item) %></td>
      <td><%= item.price %></td>
    </tr>
    <% end %>
    <%= image_tag 'grilled_cheese.jpg' %>
  </tbody>
</table>

<table>
  <thead>
    <h2>Desserts</h2>

    <tr>
      <th>Item</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @special_items.each do |item| %>
    <tr>
      <td><%= link_to "#{item.name}", edit_item_path(item) %></td>
      <td><%= item.price %></td>
    </tr>
    <% end %>
    <%= image_tag 'cheesecake.jpg' %>
  </tbody>
</table>


<br>

<%= link_to 'New Item', new_item_path %>
