<p id="notice"><%= notice %></p>

<h1>*****SuPeR sWaNkY MeNu******</h1>
<% @meals.each do |list| %>
  <div class="meal">
    <h1> <%= list.name %> </h1>
    <% list.categories.each do |category| %>
      <div class="category">
        <h2><%= category.name %></h2>
        <table>
          <thead>
            <tr>

              <th>Item</th>
              <th>Price</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% category.items.each do |item| %>
              <% if item.meal_id == list.id %>
                <tr>
                  <td><%= link_to "#{item.name}", edit_item_path(item) %></td>
                  <td><%= item.price %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
<% end %>
<h2><%= link_to "New Item", new_item_path %></h2>
