<h1>Ashley's Bistro</h1>
<div style="clear:both;"></div>
<p> Welcome to Ashley's Bistro, world famous for our "Make Your Own Menu"! Please click on
  meal type image to make a new menu item for that meal </p>
<h2>Menu</h2>
<div class="cards container">

  <div class="card">
    <div class="card-image">
      <%= link_to image_tag("appetizer.png", width: 400), new_item_path(:category_name=> "Appetizers")%>
    </div>
    <div class="card-header">
      <h2> <%= @appetizer%> </h2>
    </div>
    <div class="card-copy">
      <% @appetizers.each do |a|  %>
      <p><%=link_to a.name, edit_item_path(a) %></p>
      <% end %>
    </div>
  </div>

  <div class="card">
    <div class="card-image">
      <%= link_to image_tag("entree.jpg", width: 400 ), new_item_path(:category_name=> "Entree")%>
    </div>
    <div class="card-header">
      <h2> <%= @entree%> </h2>
    </div>
    <div class="card-copy">
      <% @entrees.each do |e|  %>
      <p><%= link_to e.name, edit_item_path(e) %></p>
      <% end %>
      </div>
  </div>

  <div class="card">
    <div class="card-image">
      <%= link_to image_tag("dessert.png", width: 400), new_item_path(:category_name=> "Dessert")%>
    </div>
    <div class="card-header">
      <h2> <%= @dessert%> </h2>
    </div>
    <div class="card-copy">
      <% @desserts.each do |d|  %>
      <p><%= link_to d.name, edit_item_path(d) %></p>
      <% end %>
    </div>
    </div>
  </div>
