<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @item.item_name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.item_price %>
</p>

<p>
  <strong>Desciption:</strong>
  <%= @item.item_description %>
</p>

<p>
  <strong>Featured:</strong>
  <%= @item.featured %>
</p>



<%= link_to 'Edit', edit_item_path(@item) %>
<%= link_to 'Home', root_path %>
