

<div class="inner-div">
<p id="notice"><%= notice %></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h2>Menu</h2>

<table>
  <thead>
    <tr>
      <th>Course</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %> </td>
        <td><%= image_tag(course.image) %></td>
        <td><%= link_to '<button type="button">Edit</button>' .html_safe, edit_course_path(course) %></td>
        <td><%= link_to '<button type="button">Destroy</button>' .html_safe, course, method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
      <% course.items.each do |item| %>
        <td><%= item.name %> </td>
        <td><%= item.description %> </td>
        <td><%= item.price %> </td>
        <td><%= image_tag(item.image) %></td>
        <td><%= link_to '<button type="button">Edit</button>' .html_safe, edit_item_path(item) %></td>
        <td><%= link_to '<button type="button">Destroy</button>' .html_safe, item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <br>
      <% end %>
    <% end %>
  </tbody>
</table>
<%= link_to '<button type="button">New Course</button>' .html_safe, new_course_path %>
<%= link_to '<button type="button">New Item</button>' .html_safe, new_item_path %>
<%= link_to '<button type="button">Menu Item List</button>' .html_safe, items_path %>
<br>
