<p id="notice"><%= notice %></p>

<center><h1>Selections</h1></center>

<center><table>
  <thead>
    <tr>
      <th>Course name</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
      </tr>
    <% end %>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.price %></td>
        <td><%= item.description%></td>
      </tr>
    <% end %>
  </tbody>
</table></center>

<br>
