<p id="notice"><%= notice %></p>

<h1>Listing Categories</h1>

<table>
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
    <tr>
      <td><%= category.category_name %></td>
    </tr>
    <% end %>
    <% @items.each do |item| %>
    <tr>
      <td><%= item.item_name %></td>
      <td><%= item.description %></td>
      <td><%= item.price %></td>
    </tr>
    <% end %>
  </tbody>
</table>
