<html>
<h1> Menu </h1>
<table>
  <% @categories.each do |category| %>
  <h2><%=category.name %></h2><br>
  <tr>
    <div class = "image"><td><%= image_tag("#{category.name.downcase}.jpg", height:250 )%></div><br>
      <section><ul>
        <% category.foods.each do |food| %>
        <li>
          <aside>
            <div class="food-name"><%=food.name %></div>
            <div class="food-description"><%=food.description %></div></aside>
          <article><%=food.price %></article>
        </li>
        <% end %>
      </ul></section>
    </td>
  </tr>
  <% end %>
</table>

<p>
<button><%= link_to 'Add New Item', foods_path %></button>
  <button><%= link_to 'Home', root_path %></button>
</p>
</html>
