<html>
<h1> Menu </h1>
<tbody>
  <% @categories.each do |category| %>
  <h2><%=category.name %></h2><br>
  <tr>
    <td><%= image_tag("#{category.name.downcase}.jpg", height:250 )%><br>
      <ul>
        <% category.foods.each do |food| %>
        <li>
          <p><%=food.name %></p>
          <%=food.description %><br>
          <p><%=food.price %></p>
        </li>
        <% end %>
      </ul>
    </td>
  </tr>
  <% end %>
</tbody>

<p>
<button><%= link_to 'Add New Item', foods_path %></button>
  <br>
  <button><%= link_to 'Home', root_path %></button>
</p>
</html>
